<html>
    <head></head>
    <body>
    <h1><%= @artist.name %></h1>
    <p>
        <%= @artist.name %> are pioneers in <%= @artist.genre %>! They've released the following albums:



    </p>
    </body>
</html>