<h1>Got a new album?  Very cool! 
<br>Add it to your collection here</h1>
<form method="POST" action="/albums">
    <div>
        <label>Album Title</label>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Release Year</label>
        <input type="text" name="release_year" />
    </div>
    <div>
        <label>Album Artist ID</label>
        <input type="text" name="artist_id" />
    </div>
<br>
<br>

    <input type="submit" />
</form>